.text-laranja {
    color: #e67349;
}

/* navbar */
.navbar {
    background-color: #202020;
}

.collapse {
    justify-content: flex-end;
}

.nav-link {
    color: #e67349;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(88, 157, 197);
}

.active a {
    color: white
}

/* navbar fim */

/* header */
.header {
    background-image: url(../images/banner1.png);
    background-size: cover;
    background-position: center;
    position: relative;

}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    text-align: center;
    transform: translate(-50%, -55%);
}

.description h1 {
    color: #e67349;
}

.description p {
    color: #fff;
    line-height: 1.5;

}


/* header fim */
/* serviços */
.servicos {
    /* em unidade de medida */
    margin: 4em auto;
    padding: 1em;
    position: relative;
}

.servicos h3 {
    color: rgb(39, 42, 54);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.servicos img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.452);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.452);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.452);
    border-radius: 5px;
}

.bg-team{
    background-color: #1c1f27;
}

.team .card{
    background-color: #1c1f27;
    color: rgb(189, 175, 166);

}

.team .card-text{
    color: yellow;
}

hr{
    border: 3px solid #28A045;
    width: 100px;
}
/* fim serviços */